openapi: 3.1.0
info:
	title: Cerniq.app API — Global Contract
	version: 1.0.0
	description: |
		Specificația globală OpenAPI pentru CERNIQ.APP.
		Include convențiile comune, schemele de securitate și modelele partajate.
		Endpoint-urile detaliate sunt definite pe etape în fișierele OpenAPI dedicate.
servers:
	- url: https://api.cerniq.app/api/v1
		description: Production
	- url: http://localhost:64000/api/v1
		description: Development
tags:
	- name: Etapa 1 — Data Enrichment
	- name: Etapa 2 — Cold Outreach
	- name: Etapa 3 — AI Sales Agent
	- name: Etapa 4 — Scale & Optimization
	- name: Etapa 5 — Enterprise & Compliance
security:
	- bearerAuth: []
components:
	securitySchemes:
		bearerAuth:
			type: http
			scheme: bearer
			bearerFormat: JWT
			description: JWT în headerul Authorization: Bearer <token>.
	parameters:
		XTenantId:
			name: X-Tenant-ID
			in: header
			required: true
			schema:
				type: string
				format: uuid
			description: Header obligatoriu pentru multi-tenancy.
	schemas:
		ApiResponse:
			type: object
			required:
				- success
			properties:
				success:
					type: boolean
				data:
					description: Payload-ul răspunsului (variază per endpoint).
				meta:
					$ref: '#/components/schemas/PaginationMeta'
				error:
					$ref: '#/components/schemas/ErrorObject'
		PaginationMeta:
			type: object
			properties:
				total:
					type: integer
					minimum: 0
				page:
					type: integer
					minimum: 1
				pageSize:
					type: integer
					minimum: 1
				totalPages:
					type: integer
					minimum: 0
		ErrorObject:
			type: object
			required:
				- code
				- message
			properties:
				code:
					$ref: '#/components/schemas/ErrorCode'
				message:
					type: string
				details:
					type: object
					additionalProperties: true
		ErrorCode:
			type: string
			enum:
				- VALIDATION_ERROR
				- UNAUTHORIZED
				- FORBIDDEN
				- NOT_FOUND
				- CONFLICT
				- RATE_LIMITED
				- INTERNAL_ERROR
paths: {}
x-etapa-specs:
	- etapa: 1
		file: openapi-etapa1.yaml
	- etapa: 2
		file: openapi-etapa2.yaml
	- etapa: 3
		file: openapi-etapa3.yaml
	- etapa: 4
		file: openapi-etapa4.yaml
	- etapa: 5
		file: openapi-etapa5.yaml
x-docs:
	etapa1-endpoints: ../specifications/Etapa 1/etapa1-api-endpoints.md
	etapa2-endpoints: ../specifications/Etapa 2/etapa2-api-endpoints.md
	etapa3-endpoints: ../specifications/Etapa 3/etapa3-api-endpoints.md
	etapa4-endpoints: ../specifications/Etapa 4/etapa4-api-endpoints.md
	etapa5-endpoints: ../specifications/Etapa 5/etapa5-api-endpoints.md
