openapi: 3.1.0
info:
  title: Cerniq.app API — Global Contract
  version: 1.0.0
  description: |
    ## Specificația globală OpenAPI pentru CERNIQ.APP
    
    Acest fișier definește **contractul global** al API-ului:
    - Convențiile comune (autentificare, multi-tenancy)
    - Schemele de securitate (JWT Bearer)
    - Modelele partajate (ApiResponse, ErrorObject, Pagination)
    
    ### ⚠️ NOTĂ IMPORTANTĂ: Structură Modulară
    
    **Endpoint-urile detaliate sunt definite pe etape în fișierele OpenAPI dedicate:**
    
    | Etapă | Fișier | Descriere |
    |-------|--------|-----------|
    | 1 | `openapi-etapa1.yaml` | Data Enrichment (ANAF, ListaFirme) |
    | 2 | `openapi-etapa2.yaml` | Cold Outreach (SMS, Email, WhatsApp) |
    | 3 | `openapi-etapa3.yaml` | AI Sales Agent (Conversații, Oferte) |
    | 4 | `openapi-etapa4.yaml` | Scale & Optimization (Analytics) |
    | 5 | `openapi-etapa5.yaml` | Enterprise & Compliance (Audit) |
    
    Această separare permite:
    1. **Dezvoltare incrementală** - fiecare etapă își definește endpoint-urile
    2. **Validare independentă** - spec-uri per etapă pentru testing
    3. **Reutilizare componente** - toate etapele folosesc schemele din acest fișier
    
    ### Referințe
    - [Master Specification](../specifications/master-specification.md) - Single Source of Truth
    - [Rate Limits External](rate-limits-external.md) - Limitări provideri externi
    - [Webhooks](webhooks.md) - Evenimente și notificări
servers:
	- url: https://api.cerniq.app/api/v1
		description: Production
	- url: http://localhost:64000/api/v1
		description: Development
tags:
	- name: Etapa 1 — Data Enrichment
	- name: Etapa 2 — Cold Outreach
	- name: Etapa 3 — AI Sales Agent
	- name: Etapa 4 — Scale & Optimization
	- name: Etapa 5 — Enterprise & Compliance
security:
	- bearerAuth: []
components:
	securitySchemes:
		bearerAuth:
			type: http
			scheme: bearer
			bearerFormat: JWT
			description: JWT în headerul Authorization: Bearer <token>.
	parameters:
		XTenantId:
			name: X-Tenant-ID
			in: header
			required: true
			schema:
				type: string
				format: uuid
			description: Header obligatoriu pentru multi-tenancy.
	schemas:
		ApiResponse:
			type: object
			required:
				- success
			properties:
				success:
					type: boolean
				data:
					description: Payload-ul răspunsului (variază per endpoint).
				meta:
					$ref: '#/components/schemas/PaginationMeta'
				error:
					$ref: '#/components/schemas/ErrorObject'
		PaginationMeta:
			type: object
			properties:
				total:
					type: integer
					minimum: 0
				page:
					type: integer
					minimum: 1
				pageSize:
					type: integer
					minimum: 1
				totalPages:
					type: integer
					minimum: 0
		ErrorObject:
			type: object
			required:
				- code
				- message
			properties:
				code:
					$ref: '#/components/schemas/ErrorCode'
				message:
					type: string
				details:
					type: object
					additionalProperties: true
		ErrorCode:
			type: string
			enum:
				- VALIDATION_ERROR
				- UNAUTHORIZED
				- FORBIDDEN
				- NOT_FOUND
				- CONFLICT
				- RATE_LIMITED
				- INTERNAL_ERROR

# =============================================================================
# PATHS - Structură Modulară
# =============================================================================
# Acest fișier NU conține endpoint-uri directe.
# Endpoint-urile sunt definite în fișierele per etapă (openapi-etapa*.yaml).
# 
# Motivație design:
# 1. Separare clară între contract global și implementări per etapă
# 2. Fiecare etapă poate fi validată și testată independent
# 3. Componente reutilizabile (schemas, security) centralizate aici
#
# Pentru lista completă de endpoint-uri, consultați:
# - openapi-etapa1.yaml (Data Enrichment)
# - openapi-etapa2.yaml (Cold Outreach)
# - openapi-etapa3.yaml (AI Sales Agent)
# - openapi-etapa4.yaml (Scale & Optimization)
# - openapi-etapa5.yaml (Enterprise & Compliance)
# =============================================================================
paths: {}

# Registry pentru tooling-uri care vor să agregeze toate spec-urile
x-etapa-specs:
	- etapa: 1
		file: openapi-etapa1.yaml
	- etapa: 2
		file: openapi-etapa2.yaml
	- etapa: 3
		file: openapi-etapa3.yaml
	- etapa: 4
		file: openapi-etapa4.yaml
	- etapa: 5
		file: openapi-etapa5.yaml
x-docs:
	etapa1-endpoints: ../specifications/Etapa 1/etapa1-api-endpoints.md
	etapa2-endpoints: ../specifications/Etapa 2/etapa2-api-endpoints.md
	etapa3-endpoints: ../specifications/Etapa 3/etapa3-api-endpoints.md
	etapa4-endpoints: ../specifications/Etapa 4/etapa4-api-endpoints.md
	etapa5-endpoints: ../specifications/Etapa 5/etapa5-api-endpoints.md
